kind: Deployment
apiVersion: apps/v1
metadata:
  name: web-application
  labels:
    app: web-application
    workshop: phpuk19
spec:
  revisionHistoryLimit: 3
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: web-application
  template:
    metadata:
      labels:
        app: web-application
        workshop: phpuk19
    spec:
      containers:
        - name: web-application
          image: bashofmann/k8s-workshop-web-application:1.0.0
          ports:
            - containerPort: 80
              name: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /health
              port: http
            timeoutSeconds: 1
